[Unit]
Description=docker compose
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ working_dir }}
ExecStart=/bin/bash -c "docker compose up --detach"
ExecStop=/bin/bash -c "docker compose down -t0"

[Install]
WantedBy=multi-user.target