{% set ports = ({
    "torrent_ui": "80",
    "torrent_samba": "445",
    "adhoc-server": "3600",
    "koboldcpp": "5001",
    "sillytavern": "5002",
    "proxmox-webui": "8006",
    "syncthing_ui": "9007",
    "syncthing_discosrv": "9008",

    "syncthing_discovery_tcp_udp_22000": "22000",
    "syncthing_discovery_discovery_udp_21027": "21027",
}) %}